*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper{
    position: relative;
    z-index: 3;
}
.contextMenu{
    position: absolute;
    z-index: 2;
    max-width: 350px;
    min-width: 200px;
    width: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    top: 20vh;
    left: 40vh;
    .moveContextMenu{
        position: absolute;
        top: 0;
        left: 0;
        color: rgba(0, 0, 0, 0.3);
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            position: relative;
            padding: 5px 10px 5px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            &:last-child{
                border: none;
            }
            i.subPointer{
                position: absolute;
                right: 0;
                top: 8px;
            }
            ul.sub{
                position: absolute;
                right: -20px;
                left: 100%;
                top: 0px;
                max-width: 350px;
                min-width: 250px;
                width: auto;
                background: rgba(255, 255, 255, 0.9);
                border-radius: 5px;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                padding: 10px;
                display: none;
                max-height: 40vh;
                overflow-y: auto;
                li{
                    ul {
                        margin-left: 1rem;
                        font-size: 0.8rem;
                        opacity: 0.9;
                        li{
                            border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
                            &:last-child{
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
            &:hover > .sub{
                display: block;
                // li:hover{
                //     ul{
                //         display: block;
                //     }
                // }
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
width: 10px;
height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #1367A5; 
border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgba(0, 0, 0, 0.6); 
}

.navbar.navbar-dark{
    background-image: linear-gradient(-45deg, #2E8B19, #1367A5);
    z-index: 2;
    .navbar-brand{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 14px;
        img{
            margin-right: 10px;
        }
    }
    .input-group{
        width: auto;
        flex-grow: 2;
        max-width: 500px;
        margin-right: auto;
        background: #fff;
        border-radius: 25px;
        padding: 0 18px;
        .form-control{
            // background-color: rgba(255, 255, 255, 1);
            // border-radius: 0 25px 25px 0;
            color: #607D8B;
            border: none;
        }
        .btn-light{
            border-radius: 25px 0 0 25px;
            color: #607D8B;
            background: #fff;
        }
        .search-btn{
            position: absolute;
            right: 0;
            padding: 8px 0;
            z-index: 3;
            i{
                color: #237d4e;
                font-size: 25px;
            }
        }
    } 
    .kt-header__topbar{
        padding-right: 0;
        padding-left: 5px;
        .kt-header__topbar-welcome{
            color: #fff!important;
        }
        .kt-header__topbar-item{
            position: relative;
            .kt-header__topbar-icon{
                i{
                    color: #fff;
                }
                &:hover{
                    i{
                        color: #237d4e;
                    }
                }
            }
            &.show{
                .kt-header__topbar-icon{
                    i{
                        color: #237d4e;
                    }
                }
            }
            .dropdown-menu-right{
                right: 0;
                left: auto;
            }
            &.kt-header__topbar-item--user{
                .kt-header__topbar-wrapper{
                    .kt-header__topbar-icon{
                        background: none;
                    }
                }
                &.show{
                    .kt-header__topbar-icon{
                        i{
                            color:rgba(255, 255, 255, 0.5);
                        }
                    }
                }
            }
        }
    }
    .mapThumb{
        width: 80px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }

    // .main-nav-items{
    //     .navbar-nav{
    //         flex-direction: row;
    //         .dropdown-menu{
    //             position: absolute;
    //         }
    //         .nav-link{
    //             color: #fff;
    //             text-transform: uppercase;
    //             letter-spacing: 3px;
    //             padding: 5px 10px;
    //             i{
    //                 font-size: 20px;
    //             }
    //         }
    //         .dropdown{
    //             display: flex;
    //             align-items: center;
    //         }
    //         .dropdown-menu-right{
    //             left: auto!important;
    //         }
    //     }
    // }
}
.modal-open {
    .modal{
        overflow: visible;
    }
}

.modal{
    z-index: 1071;
    width: 1px;
    height: 1px;
    top: 5vh;
    left: 5vw;
    overflow: visible;
    .btn-secondary:focus{
        color: #1367A5!important;
    }
    .form-control{
        padding: 0px 10px;
        background: rgba(255, 255, 255, 0.5);
        height: auto;
        border-radius: 20px;
        border-color: #fff;
        &::placeholder{
            color: rgba(0, 0, 0, 0.5);
        }
    }
    select[multiple].form-control,textarea.form-control{
        border-radius: 5px;
    }
    label{
        font-weight: 300;
    }
    .btn-sm{
        padding: 0.2rem 1rem;
    }
    .modal-content{
        background-image: linear-gradient(-45deg, rgba(46, 139, 25, 0.8), rgba(19, 104, 165, 0.8));
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        background-color: transparent;
        border: none;
        color: #fff;
        zoom: 0.9;
        a{
            color: rgba(255, 255, 255, 0.8);
        }
        .btn.btn-icon {
            height: 2.2rem;
            width: 2.2rem;
            color: #fff;
            margin: 2px;
            &:hover{
                color: #237d4e;
            }
        }
        .modal-header{
            border-bottom: none;
            background: rgba(0, 0, 0, 0.2);
            padding: 0.8rem 1rem;
            .close{
                color: #fff;
            }
            .modal-title{
                color: #fff;
                font-size: 16px;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
        }
        .modal-body{
            padding: 0.8rem 1rem;
            max-height: 80vh;
            overflow-y: auto;
            overflow-x: hidden;
            .Legend{
               .checkbox{
                    margin-bottom: 5px;
                    color: #333;
                    background: rgba(255, 255, 255, 0.8);
                    padding: 5px;
                    border-radius: 2px;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                    position: relative;
                    .imglegend{
                        max-height: 100px;
                        overflow-x: hidden;
                        overflow-y: auto;
                        margin-top: 5px;
                        img{
                            width: auto;
                            max-width: 100%;
                        }
                    }
                    
                    label{
                        margin: 0;
                        padding-left: 30px;
                        span{
                            width: 15px;
                            height: 15px;
                            left: 0px;
                            margin: 5px;
                            border-radius: 50%;
                        }
                    }
                    span{
                        position: absolute;
                        right: 10px;
                        top: 1px;
                        font-size: 20px;
                        color: #000;
                        i.la{
                            cursor: pointer;
                        }
                    }
               } 
            }
        }
        .expand{
            font-weight: 100;
            padding-bottom: 10px;
            label{
                margin-bottom: -10px;
            }
        }
        .nav-pills{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 25px;
            overflow: hidden;
            .nav-item{
                .nav-link{
                    color: #000;
                    border-radius: 0;
                    padding: 0.5rem;
                    &:active{
                        background-color: #1367A5;
                        color: #00ffe4;
                    }
                    &.active{
                        background-color: #1367A5;
                        color: #00ffe4;
                    }
                }
            }
        }
        
        .nav-tabs.nav-tabs-line {
            margin: 0 0 10px 0;
            &.nav.nav-tabs .nav-link, a.nav-link {
              color: #fff;
              padding: 2px 10px 3px;
            }
            .nav-item{
                margin-right: 0
            }
        }
        .nav-tabs.nav-tabs-line.nav-tabs-line-success {
            &.nav.nav-tabs .nav-link.active, a.nav-link.active {
              color: #00ffe4;
              border-bottom: 1px solid #00ffe4;
            }
        }
        .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav-tabs-line-2x {
            border-bottom-color: rgba(0, 0, 0, 0.2);
        }
        .selectFilter{
            margin-bottom: 10px;
            .form-control{
                border-radius: 25px;
                background: rgba(255, 255, 255, 0.4);
                border-color: #fff;
            }
        }
        .mainList{
            margin: 10px 0;
            color: #fff;
            text-shadow: 1px 1px 0px #000;
            .control{
                padding: 0px 10px;
                font-size: 20px;
            }
            .goTo{
                color: #fff;
                position: absolute;
                right: 15px;
                top: 6px;
                font-size: 20px;
            }
            .kt-checkbox{
                margin: 0;
            }
            .listItem{
                padding:0.2rem 3rem 0.2rem 0.5rem;
                background: rgba(0, 0, 0, 0.5);
                position: relative;
                display: flex;
                align-items: center;
                border: 1px solid rgba(255, 255, 255, 0.7);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            }
            .subList{
                margin-left: 10px;
                .subListItem{
                    padding:0.2rem 0 0.2rem 0.5rem ;
                    position: relative;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    flex-flow: row wrap;
                    justify-content: space-between;
                    i.la{
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        transform: rotate(0deg);
                        &.showarrowdown{
                            transform: rotate(90deg);
                        }
                    }
                    div{
                        width: 100%;
                    }
                    img{
                        // border-radius: 50%;
                        // margin-right: 5px;
                    }
                    label{
                        margin: 0 5px;
                        line-height: 22px;
                    }
                    .taglabel {
                        display: table;
                        position: absolute;
                        right: 0;
                        top: 3px;
                        width: 20px;
                        height: 20px;
                        background: rgba(0, 0, 0, 0.5);
                        font-size: 14px;
                        text-align: center;
                        line-height: 20px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                    .internaldiv{
                        display: none;
                        &.showlaydiv{
                            display: block;
                        }
                    }
                }
                .options{
                    // background: rgba(255, 255, 255, 0.5);
                    // width: 100%;
                    // border-radius: 25px;
                    // padding: 2px 30px 2px 5px;
                    position: relative;
                    // margin: 5px 0 5px 30px;
                    display: flex;
                    align-items: start;
                    color: #fff;
                    text-shadow: none;
                    // min-height: 32px;
                    width: 100%;
                    margin-left: auto;
                    justify-content: space-between;
                    padding: 5px 0 5px 15px;
                    div{
                        max-height: 100px;
                        overflow-x: hidden;
                        overflow-y: auto;
                        img{
                            width: auto;
                            max-width: 100%;
                        }
                    }
                    .custom-range{
                        width: 100px;
                        margin-left: 10px;
                    }
                    .kt-switch{
                        transform: scale(0.8);
                    }
                    .goTo{
                        background: #fff;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        text-align: center;
                        top: 4px;
                        color: #282a3c;
                        right: 4px;
                        line-height: 26px;
                    }
                    .noUi-target.noUi-horizontal {
                        height: 2px;
                        flex-grow: 2;
                        width: 100%;
                        margin: 0 20px;
                        border: 0px solid #282a3c;
                        background: #282a3c;
                        .noUi-handle{
                            width: 15px;
                            height: 15px;
                            top: -7px;
                            right: -14px;
                            border: 2px solid #282a3c;
                        }
                    }
                }
            }
        }
        .kt-portlet{
            color: #000;
            .form-control{
                background: #f5f5f5;
                border-color: #eee;
            }
            .kt-checkbox{
                margin-bottom: 0px;
            }
            .kt-datatable__cell {
                span{
                    margin: auto;
                }
            } 
        }
    }
    .Statistics{
        
        .kt-portlet{
            margin-bottom: 0;
        }
    }
}
// #popup.ol-popup{
//     bottom: 210px;
// }
.ol-popup{
    .IdentifyNav{
        position: absolute;
        top: 5px;
        button{
            background: none;
            border: none;
            font-size: 20px;
        }
    }
    table{
        thead{
            width: 100%;
            display: table-caption;
            tr{
                width: 100%;
                display: table;
            }
        }
        tbody{
            max-height: 100px;
            overflow: auto;
            display: table-caption;
            width: 100%;
        }
    }
}
#dada-grid{
    position: fixed;
    z-index: 2;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    .data-grid-openar {
        position: absolute;
        background: #fff;
        top: -28px;
        left: 50%;
        margin-left: -86px;
        padding: 5px 20px;
        border-radius: 5px 5px 0 0;
        font-weight: bold;
        cursor: pointer;
        i.la-chevron-circle-up{
            transform: rotate(0deg);
            transition: all 0.3s ease-in-out;
        }
    }
    .export{
        position: absolute;
        right: 30px;
        top: 5px;
        cursor: pointer;
        color: #000;
        font-size: 16px;
        i{
            color: #237d4e;
        }
    }
    .dg-container{
        max-height: 250px;
        overflow-y: auto;
        padding: 2rem;
        margin-bottom: -250px;
        transition: all 0.3s ease-in-out;
    }
    &.show{
        .dg-container{
            margin-bottom:0;
        }
        .data-grid-openar {
            i.la-chevron-circle-up{
                transform: rotate(180deg);
            }
        }
    }
}

.right-tools, .left-tools{
    position: absolute;
    right: auto;
    left: 10px;
    top: 100px;
    margin: 0;
    padding: 0;
    z-index: 2;
    & > li{
        width: 48px;
        height: 48px;
        background: url(../../media/bg/icon-bgBlue.svg) no-repeat center;
        background-size: contain;
        list-style: none;
        text-align: center;
        color: #fff;
        font-size: 18px;
        line-height: 48px;
    }
}
.left-tools{
    right: 10px;
    left: auto;
    & > li{
        width: 34px;
        height: 34px;
        font-size: 14px;
        line-height: 34px;
        background: url(../../media/bg/icon-bgGreen.svg) no-repeat center;
        position: relative;
    }
}
.map{
    width: 100%;
    height: calc(100vh - 53px);
}



/*-------------------------------------------*/
.login{
    background:url(../../media/bg/bg-login.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    &::after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        background: url(../../media/bg/overlay.png) no-repeat top left;
        background-size: cover;
    }
    .form-control::placeholder{
        color: #fff;
    }
    .container{
        position: relative;
        z-index: 1;
    }
    .nav-tabs{
        border:none;
        border-bottom: 2px solid transparent;
        .nav-link{
            color: #fff;
            &:hover{
                border-color:transparent;
            }
        }
        .nav-link.active{
            background: transparent;
            border: none;
            border-bottom: 2px solid #D3D866;
        }
    }
    .tab-content{
        padding: 2em 0;
        .form-control{
            border-radius: 25px;
            border: 1px solid rgba(255, 255, 255, 0.8);
            background: rgba(255, 255, 255, 0.2);
            color: #fff;
            padding: 10px 20px;
        }
        .btn-primary{
            border-radius: 25px;
            background-image: linear-gradient(-90deg, #EE2646, #D3D866);
            border: none;
            padding: 10px 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}
.zoom-100{
    zoom: 1!important;
}
.bold{
    font-weight: bold;
}
#kt_table_1.table{
    thead{
        th{
            background: #eee; 
            padding: 0.5rem;
            .form-control{
                background: rgba(255, 255, 255, 0.8);
                margin-top: 5px;
            }   
        }
    } 
    tbody{
        td{
            padding: 0.5rem;
            font-size: 0.9rem;
            .form-control{
                border: 1px solid #ccc;
                // min-width: 100px;
                margin-bottom: 5px;
            }
        }
    }
} 
// --------------------------

.modal-wide{
    width: 90vw!important;
    max-width: 90vw!important;
}
.select2-container{
    z-index: 1100;
}
.swal2-container{
    z-index: 1080;
}
#manageUserModal {
    // .select2-container{
    //     width: 100%!important;
    // }
    .kt-datatable.kt-datatable--default{
        // overflow: auto;
        padding-bottom: 5px;
        margin-bottom: 0;
    }
    #kt_table_1{
        min-height: unset!important;
        overflow: auto;
        thead{
            overflow: visible;
            .kt-datatable__cell.kt-datatable__toggle-detail{
                display: none;
            }
        }
        tbody{
            overflow: visible!important;
            .kt-datatable__cell.kt-datatable__toggle-detail{
                display: none;
            }
            td{
                .kt-checkbox{
                    margin:0 auto 2px;
                    display: block;
                }
                .form-control{
                    margin: auto;
                }
                .select2-container--default{
                    .select2-selection--multiple{
                        .select2-selection__rendered{
                            padding: 0.37rem 0.5rem;
                            max-height: 80px;
                            overflow-y: auto;
                            .select2-selection__choice{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }  
            }
        }
    }
}
#dvCSV{
    .table{
        tr{
            td:nth-child(3){
                width: 250px;
                word-break: break-all;
            }
        }
    }
}
@media (min-width: 576px){
    .modal-dialog {
        width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog.modal-lg, .modal-dialog.modal-xl {
        max-width: 600px;
        min-width: 600px;
    }
}
@media (min-width: 1024px){
    .modal-dialog.modal-lg, .modal-dialog.modal-xl {
        max-width: 900px;
        min-width: 900px;
    }
    .modal-dialog {
        width: 400px;
    }
}
@media (max-width: 1024px){
    .kt-header__topbar{
        background-color:none;
        margin-top: 5px;
        margin-left: auto;
        height: auto;
    } 
    .navbar.navbar-dark{
        .input-group{
            max-width: 400px;
            .form-control{
                padding-right: 40px;
            }
        }
        .kt-header__topbar{
            position: relative;
            background: none;
        }
        .navbar-brand{
            letter-spacing: 1px;
            font-size: 12px;
        }
        .kt-header__topbar-item{
            .kt-header__topbar-icon{
                height: 28px;
                width: 28px;
            }
        } 
    } 
}
@media (max-width: 690px){
    .map{
        height: calc(100vh - 83px);
    }
    .navbar.navbar-dark{
        .navbar-brand{
            font-size: 10px;
            padding: 0;
            img{
                padding: 5px 0;
            }
        } 
        .input-group{
            margin-top: 5px;
        }
        // .kt-header__topbar{
        //     position: absolute;
        //     top: 0;       
        // }
    }
    .modal-dialog.modal-lg, .modal-dialog.modal-xl {
        max-width: 300px;
        min-width: 300px;
        width: 300px;
    }
    .modal-dialog {
        width: 300px;
        max-width: 300px;
    }
    .modal{
        top: 100px;
    }
}
@media (max-width: 560px){
    .navbar.navbar-dark{
        // .navbar-brand{
        //     font-size: 10px;
        //     padding: 0;
        //     img{
        //         padding: 5px 0;
        //     }
        // } 
        // .input-group{
        //     margin-top: 5px;
        // }
        .kt-header__topbar{
            position: absolute;
            top: 0;       
        }
    }
}
