
// #load{
//     width:100%;
//     height:100%;
//     position:fixed;
//     z-index:99999;
//     visibility: hidden;
//     background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
// }
