* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  z-index: 3;
}

.contextMenu {
  position: absolute;
  z-index: 2;
  max-width: 350px;
  min-width: 200px;
  width: auto;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  top: 20vh;
  left: 40vh;
}

.contextMenu .moveContextMenu {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.3);
}

.contextMenu ul {
  padding: 0;
  margin: 0;
}

.contextMenu ul li {
  list-style: none;
  position: relative;
  padding: 5px 10px 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.contextMenu ul li:last-child {
  border: none;
}

.contextMenu ul li i.subPointer {
  position: absolute;
  right: 0;
  top: 8px;
}

.contextMenu ul li ul.sub {
  position: absolute;
  right: -20px;
  left: 100%;
  top: 0px;
  max-width: 350px;
  min-width: 250px;
  width: auto;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
  max-height: 40vh;
  overflow-y: auto;
}

.contextMenu ul li ul.sub li ul {
  margin-left: 1rem;
  font-size: 0.8rem;
  opacity: 0.9;
}

.contextMenu ul li ul.sub li ul li {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.contextMenu ul li ul.sub li ul li:last-child {
  border-bottom: none;
}

.contextMenu ul li:hover > .sub {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1367A5;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

.navbar.navbar-dark {
  background-image: linear-gradient(-45deg, #2E8B19, #1367A5);
  z-index: 2;
}

.navbar.navbar-dark .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
}

.navbar.navbar-dark .navbar-brand img {
  margin-right: 10px;
}

.navbar.navbar-dark .input-group {
  width: auto;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 600px;
  margin-right: auto;
  background: #fff;
  border-radius: 25px;
  padding: 0 15px;
}

.navbar.navbar-dark .input-group .form-control {
  color: #607D8B;
  border: none;
  padding: 0.65rem 0.5rem 0.65rem 0.2rem;
  font-size: 0.9rem;
}

.navbar.navbar-dark .input-group .btn-light {
  border-radius: 25px 0 0 25px;
  color: #607D8B;
  background: #fff;
}

.navbar.navbar-dark .input-group .search-btn {
  padding: 8px 0;
  margin-right: -15px;
}

.navbar.navbar-dark .input-group .search-btn i {
  color: #237d4e;
  font-size: 25px;
}

.navbar.navbar-dark .input-group .clear-btn {
  padding: 8px 0;
}

.navbar.navbar-dark .input-group .typeahead #searchInputautocomplete-list {
  position: absolute;
  background: #fff;
  width: 100%;
  padding: 0 1rem 0.5rem;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  max-height: 50vh;
  overflow-y: auto;
}

.navbar.navbar-dark .input-group .typeahead #searchInputautocomplete-list div {
  margin: 2px 0;
  cursor: pointer;
}

.navbar.navbar-dark .kt-header__topbar {
  padding-right: 0;
  padding-left: 5px;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-welcome {
  color: #fff !important;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item {
  position: relative;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon i {
  color: #fff;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon:hover i {
  color: #237d4e;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item.show .kt-header__topbar-icon i {
  color: #237d4e;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item .dropdown-menu-right {
  right: 0;
  left: auto;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-wrapper .kt-header__topbar-icon {
  background: none;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user.show .kt-header__topbar-icon i {
  color: rgba(255, 255, 255, 0.5);
}

.navbar.navbar-dark .mapThumb {
  width: 80px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.modal-open .modal {
  overflow: visible;
}

.modal {
  z-index: 1071;
  width: 1px;
  height: 1px;
  top: 5vh;
  left: 5vw;
  overflow: visible;
}

.modal .btn-secondary:focus {
  color: #1367A5 !important;
}

.modal .form-control {
  padding: 0px 10px;
  background: rgba(255, 255, 255, 0.5);
  height: auto;
  border-radius: 20px;
  border-color: #fff;
}

.modal .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.modal .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.modal .form-control::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.modal .form-control::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.modal select[multiple].form-control, .modal textarea.form-control {
  border-radius: 5px;
}

.modal label {
  font-weight: 300;
}

.modal .btn-sm {
  padding: 0.2rem 1rem;
}

.modal .modal-content {
  background-image: linear-gradient(-45deg, rgba(46, 139, 25, 0.8), rgba(19, 104, 165, 0.8));
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: none;
  color: #fff;
  zoom: 0.9;
}

.modal .modal-content a {
  color: rgba(255, 255, 255, 0.8);
}

.modal .modal-content .btn.btn-icon {
  height: 2.2rem;
  width: 2.2rem;
  color: #fff;
  margin: 2px;
}

.modal .modal-content .btn.btn-icon:hover {
  color: #237d4e;
}

.modal .modal-content .modal-header {
  border-bottom: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.8rem 1rem;
}

.modal .modal-content .modal-header .close {
  color: #fff;
}

.modal .modal-content .modal-header .modal-title {
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.modal .modal-content .modal-body {
  padding: 0.8rem 1rem;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal .modal-content .modal-body .Legend .checkbox {
  margin-bottom: 5px;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal .modal-content .modal-body .Legend .checkbox .imglegend {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 5px;
}

.modal .modal-content .modal-body .Legend .checkbox .imglegend img {
  width: auto;
  max-width: 100%;
}

.modal .modal-content .modal-body .Legend .checkbox label {
  margin: 0;
  padding-left: 30px;
}

.modal .modal-content .modal-body .Legend .checkbox label span {
  width: 15px;
  height: 15px;
  left: 0px;
  margin: 5px;
  border-radius: 50%;
}

.modal .modal-content .modal-body .Legend .checkbox span {
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 20px;
  color: #000;
}

.modal .modal-content .modal-body .Legend .checkbox span i.la {
  cursor: pointer;
}

.modal .modal-content .expand {
  font-weight: 100;
  padding-bottom: 10px;
}

.modal .modal-content .expand label {
  margin-bottom: -10px;
}

.modal .modal-content .nav-pills {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  overflow: hidden;
}

.modal .modal-content .nav-pills .nav-item .nav-link {
  color: #000;
  border-radius: 0;
  padding: 0.5rem;
}

.modal .modal-content .nav-pills .nav-item .nav-link:active {
  background-color: #1367A5;
  color: #00ffe4;
}

.modal .modal-content .nav-pills .nav-item .nav-link.active {
  background-color: #1367A5;
  color: #00ffe4;
}

.modal .modal-content .nav-tabs.nav-tabs-line {
  margin: 0 0 10px 0;
}

.modal .modal-content .nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link, .modal .modal-content .nav-tabs.nav-tabs-line a.nav-link {
  color: #fff;
  padding: 2px 10px 3px;
}

.modal .modal-content .nav-tabs.nav-tabs-line .nav-item {
  margin-right: 0;
}

.modal .modal-content .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active, .modal .modal-content .nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active {
  color: #00ffe4;
  border-bottom: 1px solid #00ffe4;
}

.modal .modal-content .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav-tabs-line-2x {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.modal .modal-content .selectFilter {
  margin-bottom: 10px;
}

.modal .modal-content .selectFilter .form-control {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.4);
  border-color: #fff;
}

.modal .modal-content .mainList {
  margin: 10px 0;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}

.modal .modal-content .mainList .control {
  padding: 0px 10px;
  font-size: 20px;
}

.modal .modal-content .mainList .goTo {
  color: #fff;
  position: absolute;
  right: 15px;
  top: 6px;
  font-size: 20px;
}

.modal .modal-content .mainList .kt-checkbox {
  margin: 0;
}

.modal .modal-content .mainList .listItem {
  padding: 0.2rem 3rem 0.2rem 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.modal .modal-content .mainList .subList {
  margin-left: 10px;
}

.modal .modal-content .mainList .subList .subListItem {
  padding: 0.2rem 0 0.2rem 0.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-content .mainList .subList .subListItem i.la {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.modal .modal-content .mainList .subList .subListItem i.la.showarrowdown {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal .modal-content .mainList .subList .subListItem div {
  width: 100%;
}

.modal .modal-content .mainList .subList .subListItem label {
  margin: 0 5px;
  line-height: 22px;
}

.modal .modal-content .mainList .subList .subListItem .taglabel {
  display: table;
  position: absolute;
  right: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.modal .modal-content .mainList .subList .subListItem .internaldiv {
  display: none;
}

.modal .modal-content .mainList .subList .subListItem .internaldiv.showlaydiv {
  display: block;
}

.modal .modal-content .mainList .subList .options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #fff;
  text-shadow: none;
  width: 100%;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0 5px 15px;
}

.modal .modal-content .mainList .subList .options div {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal .modal-content .mainList .subList .options div img {
  width: auto;
  max-width: 100%;
}

.modal .modal-content .mainList .subList .options .custom-range {
  width: 100px;
  margin-left: 10px;
}

.modal .modal-content .mainList .subList .options .kt-switch {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.modal .modal-content .mainList .subList .options .goTo {
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  top: 4px;
  color: #282a3c;
  right: 4px;
  line-height: 26px;
}

.modal .modal-content .mainList .subList .options .noUi-target.noUi-horizontal {
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 100%;
  margin: 0 20px;
  border: 0px solid #282a3c;
  background: #282a3c;
}

.modal .modal-content .mainList .subList .options .noUi-target.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  top: -7px;
  right: -14px;
  border: 2px solid #282a3c;
}

.modal .modal-content .kt-portlet {
  color: #000;
}

.modal .modal-content .kt-portlet .form-control {
  background: #f5f5f5;
  border-color: #eee;
}

.modal .modal-content .kt-portlet .kt-checkbox {
  margin-bottom: 0px;
}

.modal .modal-content .kt-portlet .kt-datatable__cell span {
  margin: auto;
}

.modal .Statistics .kt-portlet {
  margin-bottom: 0;
}

.ol-popup .IdentifyNav {
  position: absolute;
  top: 5px;
}

.ol-popup .IdentifyNav button {
  background: none;
  border: none;
  font-size: 20px;
}

.ol-popup table thead {
  width: 100%;
  display: table-caption;
}

.ol-popup table thead tr {
  width: 100%;
  display: table;
}

.ol-popup table tbody {
  /* max-height: 100px; */
  overflow: auto;
  display: table-caption;
  width: 100%;
}

#dada-grid {
  position: fixed;
  z-index: 2;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#dada-grid .data-grid-openar {
  position: absolute;
  background: #fff;
  top: -28px;
  left: 50%;
  margin-left: -86px;
  padding: 5px 20px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  cursor: pointer;
}

#dada-grid .data-grid-openar i.la-chevron-circle-up {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#dada-grid .export {
  position: absolute;
  right: 30px;
  top: 5px;
  cursor: pointer;
  color: #000;
  font-size: 16px;
}

#dada-grid .export i {
  color: #237d4e;
}

#dada-grid .dg-container {
  max-height: 250px;
  overflow-y: auto;
  padding: 2rem;
  margin-bottom: -250px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#dada-grid.show .dg-container {
  margin-bottom: 0;
}

#dada-grid.show .data-grid-openar i.la-chevron-circle-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.right-tools, .left-tools {
  position: absolute;
  right: auto;
  left: 10px;
  top: 100px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.right-tools > li, .left-tools > li {
  width: 48px;
  height: 48px;
  background: url(../../media/bg/icon-bgBlue.svg) no-repeat center;
  background-size: contain;
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 48px;
}

.left-tools {
  right: 10px;
  left: auto;
}

.left-tools > li {
  width: 34px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  background: url(../../media/bg/icon-bgGreen.svg) no-repeat center;
  position: relative;
}

.map {
  width: 100%;
  height: calc(100vh - 53px);
}

/*-------------------------------------------*/
.login {
  background: url(../../media/bg/bg-login.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.login::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: url(../../media/bg/overlay.png) no-repeat top left;
  background-size: cover;
}

.login .form-control::-webkit-input-placeholder {
  color: #fff;
}

.login .form-control:-ms-input-placeholder {
  color: #fff;
}

.login .form-control::-ms-input-placeholder {
  color: #fff;
}

.login .form-control::placeholder {
  color: #fff;
}

.login .container {
  position: relative;
  z-index: 1;
}

.login .nav-tabs {
  border: none;
  border-bottom: 2px solid transparent;
}

.login .nav-tabs .nav-link {
  color: #fff;
}

.login .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.login .nav-tabs .nav-link.active {
  background: transparent;
  border: none;
  border-bottom: 2px solid #D3D866;
}

.login .tab-content {
  padding: 2em 0;
}

.login .tab-content .form-control {
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 10px 20px;
}

.login .tab-content .btn-primary {
  border-radius: 25px;
  background-image: -webkit-gradient(linear, right top, left top, from(#EE2646), to(#D3D866));
  background-image: linear-gradient(-90deg, #EE2646, #D3D866);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.zoom-100 {
  zoom: 1 !important;
}

.bold {
  font-weight: bold;
}

#kt_table_1.table thead th {
  background: #eee;
  padding: 0.5rem;
}

#kt_table_1.table thead th .form-control {
  background: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}

#kt_table_1.table tbody td {
  padding: 0.5rem;
  font-size: 0.9rem;
}

#kt_table_1.table tbody td .form-control {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.modal-wide {
  width: 90vw !important;
  max-width: 90vw !important;
}

.select2-container {
  z-index: 1100;
}

.swal2-container {
  z-index: 1080;
}

#manageUserModal .kt-datatable.kt-datatable--default {
  padding-bottom: 5px;
  margin-bottom: 0;
}

#manageUserModal #kt_table_1 {
  min-height: unset !important;
  overflow: auto;
}

#manageUserModal #kt_table_1 thead {
  overflow: visible;
}

#manageUserModal #kt_table_1 thead .kt-datatable__cell.kt-datatable__toggle-detail {
  display: none;
}

#manageUserModal #kt_table_1 tbody {
  overflow: visible !important;
}

#manageUserModal #kt_table_1 tbody .kt-datatable__cell.kt-datatable__toggle-detail {
  display: none;
}

#manageUserModal #kt_table_1 tbody td .kt-checkbox {
  margin: 0 auto 2px;
  display: block;
}

#manageUserModal #kt_table_1 tbody td .form-control {
  margin: auto;
}

#manageUserModal #kt_table_1 tbody td .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0.37rem 0.5rem;
  max-height: 80px;
  overflow-y: auto;
}

#manageUserModal #kt_table_1 tbody td .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  font-size: 0.8rem;
}

#dvCSV .table tr td:nth-child(3) {
  width: 250px;
  word-break: break-all;
}

@media (min-width: 576px) {
  .modal-dialog {
    width: 350px;
    margin: 1.75rem auto;
  }
  .modal-dialog.modal-lg, .modal-dialog.modal-xl {
    max-width: 600px;
    min-width: 600px;
  }
}

@media (min-width: 1024px) {
  .modal-dialog.modal-lg, .modal-dialog.modal-xl {
    max-width: 900px;
    min-width: 900px;
  }
  .modal-dialog {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .kt-header__topbar {
    background-color: none;
    margin-top: 5px;
    margin-left: auto;
    height: auto;
  }
  .navbar.navbar-dark .input-group {
    max-width: 400px;
  }
  .navbar.navbar-dark .kt-header__topbar {
    position: relative;
    background: none;
  }
  .navbar.navbar-dark .navbar-brand {
    letter-spacing: 1px;
    font-size: 12px;
  }
  .navbar.navbar-dark .kt-header__topbar-item .kt-header__topbar-icon {
    height: 28px;
    width: 28px;
  }
}

@media (max-width: 690px) {
  .map {
    height: calc(100vh - 83px);
  }
  .navbar.navbar-dark .navbar-brand {
    font-size: 10px;
    padding: 0;
  }
  .navbar.navbar-dark .navbar-brand img {
    padding: 5px 0;
  }
  .navbar.navbar-dark .input-group {
    margin-top: 5px;
  }
  .modal-dialog.modal-lg, .modal-dialog.modal-xl {
    max-width: 300px;
    min-width: 300px;
    width: 300px;
  }
  .modal-dialog {
    width: 300px;
    max-width: 300px;
  }
  .modal {
    top: 100px;
  }
}

@media (max-width: 560px) {
  .navbar.navbar-dark .kt-header__topbar {
    position: absolute;
    top: 0;
  }
}
/*# sourceMappingURL=style.css.map */