* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.login {
  background: url(../../media/bg/bg-login.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.login::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: url(../../media/bg/overlay.png) no-repeat top left;
  background-size: cover;
}

.login .container {
  position: relative;
  z-index: 1;
}

.login .nav-tabs {
  border: none;
  border-bottom: 2px solid transparent;
}

.login .nav-tabs .nav-link {
  color: #fff;
}

.login .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.login .nav-tabs .nav-link.active {
  background: transparent;
  border: none;
  border-bottom: 2px solid #D3D866;
}

.login .tab-content {
  padding: 2em 0;
}

.login .tab-content .form-control {
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 10px 20px;
}

.login .tab-content .btn-primary {
  border-radius: 25px;
  background-image: -webkit-gradient(linear, right top, left top, from(#EE2646), to(#D3D866));
  background-image: linear-gradient(-90deg, #EE2646, #D3D866);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/*# sourceMappingURL=style.css.map */